# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

#data
/data/ISIC_2020_Training_JPEG/train/*.jpg
/data/ISIC_2020_Test_Input/
/data/train_224X224/*.jpg
/data/train_224X224_processed/*.jpg
/data/train_300X300/*.jpg
/data/train_300X300_processed/*.jpg
/data/train_456X456/*.jpg
/data/train_456X456_processed/*.jpg
/data/masked_images/binary/*.jpg
/data/masked_224X224/binary/*.jpg
/data/masked_300X300/binary/*.jpg
/data/masked_456X456/binary/*.jpg
/trained_model/skin_type_classifier/cnn_model
/trained_model/skin_type_classifier/EFNet_b0
/trained_model/skin_type_classifier/EFNet_b0_224X224_test1
/trained_model/skin_type_classifier/EFNet_b0_224X224_test2
/trained_model/skin_type_classifier/EFNet_b0_224X224_test3
/trained_model/skin_type_classifier/EFNet_b0_224X224_test4
/trained_model/skin_type_classifier/EFNet_b0_binary_224X224
/trained_model/skin_type_classifier/EFNet_b0_binary_224X224_test2
/trained_model/skin_type_classifier/EFNet_b0_binary_test1
/trained_model/skin_type_classifier/EFNet_b0_test1
/trained_model/skin_type_classifier/EFNet_b3_300X300_test1
/trained_model/skin_type_classifier/EFNet_b3_300X300_test2
/trained_model/skin_type_classifier/EFNet_b3_300X300_test3
/trained_model/skin_type_classifier/EFNet_b3_300X300_test4
/trained_model/skin_type_classifier/EFNet_b3_300X300_test5
/trained_model/skin_type_classifier/EFNet_b3_300X300_test6
/trained_model/skin_type_classifier/EFNet_b3_300X300_test7
/trained_model/skin_type_classifier/EFNet_b3_300X300_test8
/trained_model/skin_type_classifier/EFNet_b3_300X300_test9
/trained_model/skin_type_classifier/EFNet_b3_300X300_test10
/trained_model/skin_type_classifier/EFNet_b3_300X300_test11
/trained_model/skin_type_classifier/EFNet_b3_300X300_test12
/trained_model/skin_type_classifier/EFNet_b3_300X300_test13
/trained_model/skin_type_classifier/EFNet_b3_300X300_test14
/trained_model/skin_type_classifier/EFNet_b3_300X300_test15
/trained_model/skin_type_classifier/EFNet_b3_300X300_test16
/trained_model/skin_type_classifier/EFNet_b3_300X300_test17
/trained_model/skin_type_classifier/EFNet_b3_binary_test1
/trained_model/skin_type_classifier/EFNet_b3_test1
/trained_model/skin_type_classifier/EFNet_b5_456X456_test1
/trained_model/skin_type_classifier/EFNet_b5_binary_test1
/trained_model/skin_type_classifier/rf_model
/trained_model/skin_type_classifier/VGG_16_224X224_test1
/trained_model/skin_type_classifier/VGG_16_224X224_test2
/trained_model/skin_type_classifier/VGG_16_224X224_test3
/trained_model/skin_type_classifier/VGG_16_224X224_test4
/trained_model/skin_type_classifier/VGG_16_224X224_test5
/trained_model/skin_type_classifier/VGG_16_224X224_test6
/trained_model/skin_type_classifier/VGG_16_224X224_test7
/trained_model/skin_type_classifier/VGG_16_224X224_test8

/trained_model/melanoma_classifier/*.pth
/trained_model/combined_model
/trained_model/combined_model_test2
/trained_model/combined_model_test3
/trained_model/combined_model_test4
/trained_model/combined_model_test5
/trained_model/combined_model_test6
/trained_model/combined_model_test7
/trained_model/combined_model_test8
/trained_model/combined_model_test10
/trained_model/combined_model_test10_ensemble
/trained_model/combined_model_test10_ensemble1
/trained_model/combined_model_test10_ensemble2
/trained_model/combined_model_test10_ensemble3
/trained_model/combined_model_test11

/trained_model/melanoma_classifier_test2
/trained_model/melanoma_classifier_test3
/trained_model/melanoma_classifier_test4
/trained_model/melanoma_classifier_test5
/trained_model/melanoma_classifier_test6
/trained_model/melanoma_classifier_test7
/trained_model/melanoma_classifier_test8
/trained_model/melanoma_classifier_test10

/model_summaries



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
gambit_env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc

# Dev Environments
.idea
.vscode